<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199034515946-h28kupa1g9i68qlgfrktlglpi6drqbue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199034515946-h28kupa1g9i68qlgfrktlglpi6drqbue</string>
	<key>API_KEY</key>
	<string>AIzaSyDMwhMf4JK2xWtYVct6lTEYR8e0JUcxFWw</string>
	<key>GCM_SENDER_ID</key>
	<string>199034515946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.directcodekw.forfun</string>
	<key>PROJECT_ID</key>
	<string>forfun-fc3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>forfun-fc3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199034515946:ios:6bfb05437075843d18c293</string>
</dict>
</plist>